<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

  <bean id="connectionPoolBean"
    class="by.moiseenko.repository.impl.ApacheConnectionPool">
    <constructor-arg value="/IdeaProjects/Learning/LearningJDBC/src/main/resources/jdbc_prop.xml"/>
  </bean>

  <bean id="personDaoBean"
    class="by.moiseenko.repository.impl.PersonDaoImpl">
  </bean>

  <bean id="passwordCryptBean"
    class="by.moiseenko.service.impl.PasswordCryptImpl">
    <constructor-arg value="5"/>
  </bean>

  <bean id="productDaoBean"
    class="by.moiseenko.repository.impl.ProductDaoImpl">
  </bean>

  <bean id="productServiceBean"
    class="by.moiseenko.service.impl.ProductServiceImpl">
    <constructor-arg ref="personDaoBean"/>
    <constructor-arg ref="productDaoBean"/>
    <constructor-arg ref="connectionPoolBean"/>
  </bean>

  <bean id="personServiceBean"
    class="by.moiseenko.service.impl.PersonServiceImpl">
    <constructor-arg ref="personDaoBean"/>
    <constructor-arg ref="passwordCryptBean"/>
    <constructor-arg ref="connectionPoolBean"/>
  </bean>

  <bean id="programControllerBean"
    class="by.moiseenko.controller.impl.ProgramControllerImpl">
    <constructor-arg ref="personServiceBean"/>
    <constructor-arg ref="productServiceBean"/>
  </bean>

</beans>