LearningStrings/\.idea/
LearningStrings/target/
LearningIO/\.idea/
LearningIO/target/
LearningInterfaces/\.idea/
LearningInterfaces/target/
LearningExceptions/\.idea/
LearningExceptions/target/
LearningCollections/\.idea/
LearningCollections/target/
