LearningStrings/\.idea/
LearningStrings/target/
LearningIO/\.idea/
LearningIO/target/
LearningInterfaces/\.idea/
LearningInterfaces/target/
LearningExceptions/\.idea/
LearningExceptions/target/
LearningCollections/\.idea/
LearningCollections/target/

LearningInterfaces/src\.zip

LearningInterfaces/src\.zip\.txt

LearningInterfaces/src1\.zip

LearningInterfaces/src1\.zip\.txt
