<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add New Customer</title>
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
        integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
        crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/shards.min.css">
</head>
<body>
<div class="container my-5">
  <h2 class="mb-5">New Customer</h2>
  <div class="row">
    <div class="col-md-6">
      <form action="#" th:action="@{/addCustomer}" th:object="${customer}" method="post">
        <div class="row">
          <div class="form-group col-md-6">
            <label for="movexcode" class="col-form-label">Movex Code</label>
            <input type="text" th:field="*{movexCode}" class="form-control" id="movexcode"
                   placeholder="Movex Code">
            <span th:if="${#fields.hasErrors('movexCode')}" th:errors="*{movexCode}"
                  class="text-danger"></span>
          </div>
          <div class="form-group col-md-6">
            <label for="shortName" class="col-form-label">Short Name</label>
            <input type="text" th:field="*{shortName}" class="form-control" id="shortName"
                   placeholder="Short Name">
            <span th:if="${#fields.hasErrors('shortName')}" th:errors="*{shortName}"
                  class="text-danger"></span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mt-5">
            <input type="submit" class="btn btn-primary" value="Add User">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

</body>
</html>