<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Error</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="css/mdb.min.css" rel="stylesheet">
  <!-- Your custom styles (optional) -->
  <link href="css/style.css" rel="stylesheet">
</head>
<body>
<div class="container">
  <div class="row">
    <h1 class="h1 text-center"> OOOPS....</h1>
    <h2 class="h2 text-center">Somethings going wrong.</h2>
  </div>
  <div class="row justify-content-md-center">
    <div class="col">
    <a href="/" class="btn btn-primary">Go Home</a>
    </div>
  </div>
</div>
</body>
</html>