<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Windows Version Editor</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/mdb.min.css" rel="stylesheet">
  <link href="/css/addons/datatables2.min.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">
</head>
<body>
<div id="header"></div>
<div class="container">
  <div th:switch="${windowsVersionList.isEmpty()}">
    <div class="row justify-content-md-center">
      <div class="col-12 col-md-auto">
        <h2 class="mb-3" th:case="true">No MS Windows info yet!</h2>
      </div>
    </div>
    <div th:case="*">
      <div class="row justify-content-md-center">
        <h2 class="mb-3">MS Windows Versions Table</h2>
      </div>
      <div class="table-responsive">
        <table id="allWindows" class="table table-bordered">
          <thead class="blue white-text">
          <tr>
            <th class="th-sm">Name</th>
            <th class="th-sm">End Support(ext.) Date</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="windows : ${windowsVersionList}">
            <td th:text="${windows.name}"></td>
            <td th:text="${windows.endSupportDate.format(localFormatter)}"></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <form action="#" th:action="@{/addWindowsVersion}" th:object="${windowsVersion}" method="post">
      <div class="row">
        <div class="form-group col-md-6">
          <label for="name" class="col-form-label">Name</label>
          <input type="text" th:field="*{name}" class="form-control" id="name"
                 placeholder="Name">
          <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
          <label for="endSupportDate" class="col-form-label">End Support Day</label>
          <input type="date" th:field="*{endSupportDate}" class="form-control" id="endSupportDate"
                 placeholder="End Support Day">
          <span th:if="${#fields.hasErrors('endSupportDate')}" th:errors="*{endSupportDate}"
                class="text-danger"></span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mt-5">
          <input type="submit" class="btn btn-primary" value="Add MS Windows Version">
        </div>
      </div>
    </form>
  </div>
</div>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/addons/datatables2.min.js"></script>
<script type="text/javascript" src="/js/popper.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src=//js/mdb.min.js"></script>
<script type="text/javascript">
  $(function () {
    $("#header").load("../header.html");
  });
  $(document).ready(function () {
    $('#allWindows').DataTable({"columns":[{"width":"50%"},{"width":"50%"}]});
  });
</script>
</body>
</html>